.header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: transparent;
}

.caixaCabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 93px;
    padding-right: 93px;
    justify-content: space-between;
    gap: 45px;
    background: transparent;
}

.logo{
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #3498db;
    background: transparent;
}


.meio{
    display: flex;
    gap: 60px;
    list-style-type: none;
    background: transparent;
    padding: 0;
}

.itemMeio{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: transparent;
}

.itemMeio:hover {
    text-decoration: underline; 
    color: #F9C06A; 
    background: transparent;
}

.loginCadastro{
    display: flex;
    gap: 35px;
    align-items: center;
    background: transparent;
}

.login{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;

}

.botaoCadastro{
    width: 100px;
    height: 48px;

    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    color: #1E1E1E;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/*////FOOTER/////*/

.caixaFooter{
    display: flex;
    gap: 66px;   
    padding-right: 93px;
    padding-left: 93px;
    justify-content: space-between;
    height: 258px;
}

.logoFooter{
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
}

.textin{
    max-width: 380px;
    background: transparent;

    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}


.caixaGeral{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    justify-content: space-evenly;
    padding-top: 15%;
    padding-bottom: 4%;

}


.caixaRedes{
    display: flex;
    width: 152px;
    justify-content: space-between;
    background: transparent;
}

.redes{
    background: transparent;
}


.caixaTitulo{
    display: flex;
    flex-direction: column;
    gap: 31px;
    background: transparent;
    justify-content: flex-end;
    padding-bottom: 5% ;
    position: relative;
}

.titulo{
    display: flex;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    background: transparent;
    position: absolute;
    top: 250px;

}

.caixaItem{
    max-width: 332px;;
    display: flex;
    flex-direction: column;
    gap: 22px; 
    background: transparent;

}

.item{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;  
    background: transparent;
    
}
