/*////////////PAGINA MENU//////////////////*/
.paginaMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 82px 93px 82px 93px;
}

.tituloSub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.titulo{
    color: var(--coffee, #603809);
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.subtitulo{
    color: #707070;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin: 0;
}

.cardGeral{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
    height: 364px;
    border: 1px solid rgba(249, 192, 106, 0.42);
    background: #FFF9F1;
    align-items: center;
    position: relative;
}

.textsCard{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 154px;
    height: 86px;
    align-items: center;
    text-align: center;
    background: transparent;
    position: absolute;
    top:235px
}

.nomeCard{
    color: var(--coffee, #603809);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    background: transparent;
}

.milkCard{
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    background: transparent;
}

.precoCard{
    color: var(--coffee, #603809);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    background: transparent;
}

.cardHorizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.botaoCard{
    margin: 0;
    background: transparent;
    position: absolute;
    top: 315px
}

.botaoPedirAgora{
    width: 134px;
    height: 48px;
    border-radius: 24px;
    margin-top: 20px;
    background: transparent;
  
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  }

  /*//////////////PAGINA SOBRE NÓS////////////////*/

  .paginaSobreNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 82px 93px 82px 93px;
}

.caixaCard{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 280px;
    height: 284px;
    border: 1px solid rgba(249, 192, 106, 0.42);
    background: #FFF9F1;
    justify-content: center;
    align-items: center;
}

.caixaCard:hover{
    background: #FFEED8;;
}

.fotoCard{
    background: transparent;
}

.textCard{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
    background: transparent;
    width: 220px;
    height: auto;
}

.tituloCard{
    color: var(--coffee, #603809);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
    margin: 0;
    background: transparent;
}

.subtituloCard{
    color: #707070;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    background: transparent;
}

.caixaFim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding-top: 32px;
}

.text1{
    color: #707070;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.text2{
    color: var(--coffee, #603809);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.botaoSeJunte{
    width: 134px;
    height: 48px;
    border-radius: 24px;
    margin-top: 20px;
    background: transparent;
    margin: 0;
  
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
}